.btn {
  font-family: $font-button;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;

  &.btn-white {
    background: $white;
    color: $primary;
    text-transform: uppercase;

    &:hover {
      background: darken($white, 5%);
    }
  }

  svg {
    position: relative;
    top: -1px;
    padding-left: 0.4em;
    font-size: 0.9em;
  }
}
