// we try and use as much from bootstrap as we can
// but add a few gloabl styles
// https://v5.getbootstrap.com/docs/5.0/utilities/spacing/

// applied as a defalt to full width flex sections
.section-padded {
  padding-top: $section-padding-mobile;
  padding-bottom: $section-padding-mobile;

  @include media-breakpoint-up(md) {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}

.section-padded-top {
  padding-top: $section-padding-mobile;

  @include media-breakpoint-up(lg) {
    padding-top: $section-padding;
  }
}

.section-padded-bottom {
  padding-bottom: $section-padding-mobile;

  @include media-breakpoint-up(lg) {
    padding-bottom: $section-padding;
  }
}

// apply to the preceding module if you want to tighten gap
.collapse-bottom + .section-padded {
  padding-top: 20px;
}
