.flex-section {
  border-bottom: 1px solid gray;
}

.flex-padding-top {
  padding-top: 30px;
}

.flex-padding-bottom {
  padding-bottom: 30px;
}

.background-light {
  background-color: #FFFFFF;
}

.background-dark {
  background-color: #CCCCCC;
}