@import 'styles/scaffold';

.post-header {
  h1 {
    color: $primary;
    font-size: 30px;

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }

    a {
      text-decoration: none;
    }
  }

  h2 {
    a {
      text-decoration: none;
    }

    p {
      text-emphasis: none;
    }
  }
}
