# COPY THIS FILE AND RENAME IT .ENV

# This environment variable is automatically read by Docker and sets
# the project name which is useful when starting new projects based
# on this template. We also use this variable to set the wordpress database
# name in docker-compose.yml and _build/db.sh
COMPOSE_PROJECT_NAME=bubsnext
COMPOSE_WPE_PRODUCTION=bubsnext
COMPOSE_WPE_STAGING=bubsnexts
COMPOSE_WPE_DEVELOPMENT=bubsnextd
