//
// set our own variables and override bootstrap ones here.
// if you need to referene any bootstrap ones, copy from here:
// https://github.com/twbs/bootstrap/blob/v5.0.0-beta1/scss/_variables.scss
//

// spacing
// we set spacing in 10px increments, allowing up to 10, e.g. p-10.
// we also enable negative spacers
$spacer-px: 10px;
$spacer: rem-calc(10px);
$spacers: (
  0: 0,
  1: 1 * $spacer-px,
  2: 2 * $spacer-px,
  3: 3 * $spacer-px,
  4: 4 * $spacer-px,
  5: 5 * $spacer-px,
  6: 6 * $spacer-px,
  7: 7 * $spacer-px,
  8: 8 * $spacer-px,
  9: 9 * $spacer-px,
  10: 10 * $spacer-px,
);
$section-padding: 80px;
$section-padding-mobile: 40px;
$enable-negative-margins: true;

// type
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Roboto Slab', serif;
$font-heading: 'Roboto Condensed', sans-serif;
$font-button: $font-sans;
$font-thin: 300;

//
// colors
//

$white: #fff;
$black: #000;
$blue: #00baee;
$purple: #9145cd;
$color-email: #138bfd;
$color-facebook: #3b5998;
$color-twitter: #55acee;

// bootstrap theme colors
// must restate defaults in order to merge in our custom
$primary: $blue;
$secondary: $purple;
$dark: #212529;
$light: #f8f9fa;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$body-color: #222; // $text-color

// Theme Colors
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);
$custom-colors: (
  'papayawhip': papayawhip,
  'white': white,
  'black': black,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//
// bootstrap variable overrides
//

$font-family-sans-serif: $font-sans;
$font-family-base: $font-sans;
$headings-font-family: $font-heading;
$font-size-base: 1rem;
$line-height-base: 1.5;
$grid-gutter-width: 40px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// customize grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
);
