//
// set our own variables and override bootstrap ones here.
//

// layout
$section-padding: 50px;
$section-padding-mobile: 30px;

// type
$font-sans: "Source Sans Pro", sans-serif;
$font-serif: "Roboto Slab", serif;
$font-heading: "Roboto Condensed", sans-serif;
$font-button: $font-sans;
$font-thin: 300;

// colors
$white: #fff;
$black: #000;
$black-transparent: rgba($black, 0.7);
$gray-dark: #4a4a4a;
$gray-light: #e8e8e8;
$blue: #00baee;
$purple: #9145cd;
$color-email: #138bfd;
$color-facebook: #3b5998;
$color-twitter: #55acee;

//
// bootstrap variable overrides
//

$font-family-sans-serif: $font-sans;
$font-family-base: $font-serif;
$headings-font-family: $font-heading;
$font-size-base: 1rem;
$line-height-base: 1.5;
$grid-gutter-width: 30px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// bootstrap theme colors
$primary: $blue;
$secondary: $purple;
$body-color: #222; // $text-color

//main theme colors.  Example usage: background-color: theme-color('blue');
$theme-colors: (
  "papayawhip": papayawhip,
);

// customize grid
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1141px,
// );
