@import "styles/_scaffold";

.footer {
  border-top: 4px solid $primary;
  font-family: $font-sans;
  background: $dark;

  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  li {
    margin-right: 0;
    &:after {
      content: "|";
      padding-left: 0.5rem;
      color: $gray-300;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
