@import 'styles/_scaffold';

.footer {
  border-top: 4px solid $primary;
  background: $dark;
  font-family: $font-sans;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  li {
    margin-right: 0;

    &::after {
      padding-left: 0.5rem;
      color: $gray-300;
      content: '|';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
