@import 'styles/scaffold';

.footer {
  border-top: 4px solid $primary;
  background: $dark;
  font-family: $font-sans;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* stylelint-disable no-descending-specificity */

.primary {
  font-size: rem-calc(18px);

  .topLevel {
    color: $white;
    font-size: rem-calc(20px);
    font-weight: bold;
  }

  li {
    margin-right: 0;
  }
}

.copyright {
  color: $gray-400;
  font-size: rem-calc(14px);

  a {
    color: $gray-400;

    &:hover {
      color: $white;
    }
  }

  .divider {
    padding-left: 10px;
  }

  li:last-of-type {
    .divider {
      display: none;
    }
  }
}

.social {
  a {
    color: $gray-400;

    &:hover {
      color: $white;
    }
  }
}
