@import 'styles/_scaffold';

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $primary;
  color: $white;
}

.logo {
  margin: 0;
  font-size: rem-calc(18px);
  text-transform: uppercase;
}

.nav {
  margin: 0;
  font-size: rem-calc(18px);
  text-transform: uppercase;

  a {
    margin-right: 5px;
    margin-left: 5px;
    color: $white;
    text-decoration: none;
  }
}
